@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-color: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.PinturaButtonExport {
  display: none;
}

.modal-box {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
